.red {
	color: #d94f5c;
}

.corner-border::before,
.corner-border::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid #d94f5c;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.corner-border::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	transform: translate3d(10px, 10px, 0);
}

.corner-border::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	transform: translate3d(-10px, -10px, 0);
}

.corner-border-active.corner-border::before,
.corner-border-active.corner-border::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

svg path {
    fill: none;
    stroke-width: 6;
    transition: stroke-dashoffset 0.2s;
    stroke: #d94f5c;
    stroke-dasharray: 192;
    stroke-dashoffset: 192;
    animation: draw 30s infinite linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}